In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

22/02/17 11:26:00 WARN Utils: Your hostname, daniyal resolves to a loopback address: 127.0.1.1; using 172.17.0.1 instead (on interface docker0)
22/02/17 11:26:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/opt/spark/jars/spark-unsafe_2.12-3.2.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/02/17 11:26:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/02/17 11:26:02 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/02/17 11:26:02 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [4]:
df=spark.read.csv("adult.csv",inferSchema=True, header=True,ignoreLeadingWhiteSpace=True,ignoreTrailingWhiteSpace=True)

In [5]:
df.count()

32561

In [6]:
df.dropna

<bound method DataFrame.dropna of DataFrame[age: int, workclass: string, fnlwgt: int, education: string, education-years: int, marital-status: string, occupation: string, relationship: string, ethnic-group: string, gender: string, capital-gain: int, capital-loss: int, hours-per-week: int, country: string, target: string]>

In [8]:
from pyspark.sql.functions import col,count,when,isnan

In [9]:
df.select([count(when(  col(c).contains('?') | col(c).contains("NULL") ,c)).alias(c) for c in df.columns]).show()

+---+---------+------+---------+---------------+--------------+----------+------------+------------+------+------------+------------+--------------+-------+------+
|age|workclass|fnlwgt|education|education-years|marital-status|occupation|relationship|ethnic-group|gender|capital-gain|capital-loss|hours-per-week|country|target|
+---+---------+------+---------+---------------+--------------+----------+------------+------------+------+------------+------------+--------------+-------+------+
|  0|     1836|     0|        0|              0|             0|      1843|           0|           0|     0|           0|           0|             0|    583|     0|
+---+---------+------+---------+---------------+--------------+----------+------------+------------+------+------------+------------+--------------+-------+------+

In [10]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education-years: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- ethnic-group: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- target: string (nullable = true)

In [11]:
stringCols = ["workclass","education","marital-status","occupation","relationship","ethnic-group","country"]

In [12]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder

In [13]:
outCols = ["workclass1","education1","marital-status1","occupation1","relationship1","ethnic-group1","country1"]

In [14]:
si= StringIndexer(inputCols=stringCols,outputCols=outCols)

In [15]:
siDf=si.fit(df).transform(df)
for i in stringCols:
    siDf.drop(i)
    
siDf.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education-years: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- ethnic-group: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- target: string (nullable = true)
 |-- workclass1: double (nullable = false)
 |-- education1: double (nullable = false)
 |-- marital-status1: double (nullable = false)
 |-- occupation1: double (nullable = false)
 |-- relationship1: double (nullable = false)
 |-- ethnic-group1: double (nullable = false)
 |-- country1: double (nullable = false)

In [49]:
siDf.select(outCols).show()

+----------+----------+---------------+-----------+-------------+-------------+--------+
|workclass1|education1|marital-status1|occupation1|relationship1|ethnic-group1|country1|
+----------+----------+---------------+-----------+-------------+-------------+--------+
|       4.0|       2.0|            1.0|        3.0|          1.0|          0.0|     0.0|
|       1.0|       2.0|            0.0|        2.0|          0.0|          0.0|     0.0|
|       0.0|       0.0|            2.0|        9.0|          1.0|          0.0|     0.0|
|       0.0|       5.0|            0.0|        9.0|          0.0|          1.0|     0.0|
|       0.0|       2.0|            0.0|        0.0|          4.0|          1.0|     9.0|
|       0.0|       3.0|            0.0|        2.0|          4.0|          0.0|     0.0|
|       0.0|      10.0|            5.0|        5.0|          1.0|          1.0|    11.0|
|       1.0|       0.0|            0.0|        2.0|          0.0|          0.0|     0.0|
|       0.0|       3.0|            1.0|        0.0|          1.0|          0.0|     0.0|
|       0.0|       2.0|            0.0|        2.0|          0.0|          0.0|     0.0|
|       0.0|       1.0|            0.0|        2.0|          0.0|          1.0|     0.0|
|       4.0|       2.0|            0.0|        0.0|          0.0|          2.0|     8.0|
|       0.0|       2.0|            1.0|        3.0|          2.0|          0.0|     0.0|
|       0.0|       6.0|            1.0|        4.0|          1.0|          1.0|     0.0|
|       0.0|       4.0|            0.0|        1.0|          0.0|          2.0|     2.0|
|       0.0|       8.0|            0.0|        8.0|          0.0|          3.0|     1.0|
|       1.0|       0.0|            1.0|       10.0|          2.0|          0.0|     0.0|
|       0.0|       0.0|            1.0|        6.0|          3.0|          0.0|     0.0|
|       0.0|       5.0|            0.0|        4.0|          0.0|          0.0|     0.0|
|       1.0|       3.0|            2.0|        2.0|          3.0|          0.0|     0.0|
+----------+----------+---------------+-----------+-------------+-------------+--------+
only showing top 20 rows

In [50]:
outCols2 = ["workclass2","education2","marital-status2","occupation2","relationship2","ethnic-group2","country2"]

In [51]:
ohi=OneHotEncoder(inputCols=outCols,outputCols=outCols2)

In [52]:
ohiDf=ohi.fit(siDf).transform(siDf)

for i in outCols:
    ohiDf.drop(i)

In [53]:
ohiDf.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education-years: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- ethnic-group: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- target: string (nullable = true)
 |-- workclass1: double (nullable = false)
 |-- education1: double (nullable = false)
 |-- marital-status1: double (nullable = false)
 |-- occupation1: double (nullable = false)
 |-- relationship1: double (nullable = false)
 |-- ethnic-group1: double (nullable = false)
 |-- country1: double (nullable = false)
 |-- workclass2: vector (nullable = true)
 |-- education2: vector (nullable = true)
 |-- marital-status2: vector (nullable = true)
 |-- occupation2: vector (nullable = true)
 |-- relationship2: vector (nullable = true)
 |-- ethnic-group2: vector (nullable = true)
 |-- country2: vector (nullable = true)

In [54]:
si2=StringIndexer(inputCol="target",outputCol="label")

In [55]:
newDf=si2.fit(ohiDf).transform(ohiDf)
newDf.select('target').show()

+------+
|target|
+------+
| <=50K|
| <=50K|
| <=50K|
| <=50K|
| <=50K|
| <=50K|
| <=50K|
|  >50K|
|  >50K|
|  >50K|
|  >50K|
|  >50K|
| <=50K|
| <=50K|
|  >50K|
| <=50K|
| <=50K|
| <=50K|
| <=50K|
|  >50K|
+------+
only showing top 20 rows

In [56]:
newDf.select("label").show()

+-----+
|label|
+-----+
|  0.0|
|  0.0|
|  0.0|
|  0.0|
|  0.0|
|  0.0|
|  0.0|
|  1.0|
|  1.0|
|  1.0|
|  1.0|
|  1.0|
|  0.0|
|  0.0|
|  1.0|
|  0.0|
|  0.0|
|  0.0|
|  0.0|
|  1.0|
+-----+
only showing top 20 rows

In [57]:
newDf.show()

22/01/09 11:10:15 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+---+----------------+------+------------+---------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+-------------+------+----------+----------+---------------+-----------+-------------+-------------+--------+-------------+---------------+---------------+---------------+-------------+-------------+---------------+-----+
|age|       workclass|fnlwgt|   education|education-years|      marital-status|       occupation| relationship|      ethnic-group|gender|capital-gain|capital-loss|hours-per-week|      country|target|workclass1|education1|marital-status1|occupation1|relationship1|ethnic-group1|country1|   workclass2|     education2|marital-status2|    occupation2|relationship2|ethnic-group2|       country2|label|
+---+----------------+------+------------+---------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+-------------+------+----------+----------+---------------+-----------+-------------+-------------+--------+-------------+---------------+---------------+---------------+-------------+-------------+---------------+-----+
| 39|       State-gov| 77516|   Bachelors|             13|       Never-married|     Adm-clerical|Not-in-family|             White|  Male|        2174|           0|            40|United-States| <=50K|       4.0|       2.0|            1.0|        3.0|          1.0|          0.0|     0.0|(8,[4],[1.0])| (15,[2],[1.0])|  (6,[1],[1.0])| (14,[3],[1.0])|(5,[1],[1.0])|(4,[0],[1.0])| (41,[0],[1.0])|  0.0|
| 50|Self-emp-not-inc| 83311|   Bachelors|             13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            13|United-States| <=50K|       1.0|       2.0|            0.0|        2.0|          0.0|          0.0|     0.0|(8,[1],[1.0])| (15,[2],[1.0])|  (6,[0],[1.0])| (14,[2],[1.0])|(5,[0],[1.0])|(4,[0],[1.0])| (41,[0],[1.0])|  0.0|
| 38|         Private|215646|     HS-grad|              9|            Divorced|Handlers-cleaners|Not-in-family|             White|  Male|           0|           0|            40|United-States| <=50K|       0.0|       0.0|            2.0|        9.0|          1.0|          0.0|     0.0|(8,[0],[1.0])| (15,[0],[1.0])|  (6,[2],[1.0])| (14,[9],[1.0])|(5,[1],[1.0])|(4,[0],[1.0])| (41,[0],[1.0])|  0.0|
| 53|         Private|234721|        11th|              7|  Married-civ-spouse|Handlers-cleaners|      Husband|             Black|  Male|           0|           0|            40|United-States| <=50K|       0.0|       5.0|            0.0|        9.0|          0.0|          1.0|     0.0|(8,[0],[1.0])| (15,[5],[1.0])|  (6,[0],[1.0])| (14,[9],[1.0])|(5,[0],[1.0])|(4,[1],[1.0])| (41,[0],[1.0])|  0.0|
| 28|         Private|338409|   Bachelors|             13|  Married-civ-spouse|   Prof-specialty|         Wife|             Black|Female|           0|           0|            40|         Cuba| <=50K|       0.0|       2.0|            0.0|        0.0|          4.0|          1.0|     9.0|(8,[0],[1.0])| (15,[2],[1.0])|  (6,[0],[1.0])| (14,[0],[1.0])|(5,[4],[1.0])|(4,[1],[1.0])| (41,[9],[1.0])|  0.0|
| 37|         Private|284582|     Masters|             14|  Married-civ-spouse|  Exec-managerial|         Wife|             White|Female|           0|           0|            40|United-States| <=50K|       0.0|       3.0|            0.0|        2.0|          4.0|          0.0|     0.0|(8,[0],[1.0])| (15,[3],[1.0])|  (6,[0],[1.0])| (14,[2],[1.0])|(5,[4],[1.0])|(4,[0],[1.0])| (41,[0],[1.0])|  0.0|
| 49|         Private|160187|         9th|              5|Married-spouse-ab...|    Other-service|Not-in-family|             Black|Female|           0|           0|            16|      Jamaica| <=50K|       0.0|      10.0|            5.0|        5.0|          1.0|          1.0|    11.0|(8,[0],[1.0])|(15,[10],[1.0])|  (6,[5],[1.0])| (14,[5],[1.0])|(5,[1],[1.0])|(4,[1],[1.0])|(41,[11],[1.0])|  0.0|
| 52|Self-emp-not-inc|209642|     HS-grad|              9|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|           0|           0|            45|United-States|  >50K|       1.0|       0.0|            0.0|        2.0|          0.0|          0.0|     0.0|(8,[1],[1.0])| (15,[0],[1.0])|  (6,[0],[1.0])| (14,[2],[1.0])|(5,[0],[1.0])|(4,[0],[1.0])| (41,[0],[1.0])|  1.0|
| 31|         Private| 45781|     Masters|             14|       Never-married|   Prof-specialty|Not-in-family|             White|Female|       14084|           0|            50|United-States|  >50K|       0.0|       3.0|            1.0|        0.0|          1.0|          0.0|     0.0|(8,[0],[1.0])| (15,[3],[1.0])|  (6,[1],[1.0])| (14,[0],[1.0])|(5,[1],[1.0])|(4,[0],[1.0])| (41,[0],[1.0])|  1.0|
| 42|         Private|159449|   Bachelors|             13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|  Male|        5178|           0|            40|United-States|  >50K|       0.0|       2.0|            0.0|        2.0|          0.0|          0.0|     0.0|(8,[0],[1.0])| (15,[2],[1.0])|  (6,[0],[1.0])| (14,[2],[1.0])|(5,[0],[1.0])|(4,[0],[1.0])| (41,[0],[1.0])|  1.0|
| 37|         Private|280464|Some-college|             10|  Married-civ-spouse|  Exec-managerial|      Husband|             Black|  Male|           0|           0|            80|United-States|  >50K|       0.0|       1.0|            0.0|        2.0|          0.0|          1.0|     0.0|(8,[0],[1.0])| (15,[1],[1.0])|  (6,[0],[1.0])| (14,[2],[1.0])|(5,[0],[1.0])|(4,[1],[1.0])| (41,[0],[1.0])|  1.0|
| 30|       State-gov|141297|   Bachelors|             13|  Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|        India|  >50K|       4.0|       2.0|            0.0|        0.0|          0.0|          2.0|     8.0|(8,[4],[1.0])| (15,[2],[1.0])|  (6,[0],[1.0])| (14,[0],[1.0])|(5,[0],[1.0])|(4,[2],[1.0])| (41,[8],[1.0])|  1.0|
| 23|         Private|122272|   Bachelors|             13|       Never-married|     Adm-clerical|    Own-child|             White|Female|           0|           0|            30|United-States| <=50K|       0.0|       2.0|            1.0|        3.0|          2.0|          0.0|     0.0|(8,[0],[1.0])| (15,[2],[1.0])|  (6,[1],[1.0])| (14,[3],[1.0])|(5,[2],[1.0])|(4,[0],[1.0])| (41,[0],[1.0])|  0.0|
| 32|         Private|205019|  Assoc-acdm|             12|       Never-married|            Sales|Not-in-family|             Black|  Male|           0|           0|            50|United-States| <=50K|       0.0|       6.0|            1.0|        4.0|          1.0|          1.0|     0.0|(8,[0],[1.0])| (15,[6],[1.0])|  (6,[1],[1.0])| (14,[4],[1.0])|(5,[1],[1.0])|(4,[1],[1.0])| (41,[0],[1.0])|  0.0|
| 40|         Private|121772|   Assoc-voc|             11|  Married-civ-spouse|     Craft-repair|      Husband|Asian-Pac-Islander|  Male|           0|           0|            40|            ?|  >50K|       0.0|       4.0|            0.0|        1.0|          0.0|          2.0|     2.0|(8,[0],[1.0])| (15,[4],[1.0])|  (6,[0],[1.0])| (14,[1],[1.0])|(5,[0],[1.0])|(4,[2],[1.0])| (41,[2],[1.0])|  1.0|
| 34|         Private|245487|     7th-8th|              4|  Married-civ-spouse| Transport-moving|      Husband|Amer-Indian-Eskimo|  Male|           0|           0|            45|       Mexico| <=50K|       0.0|       8.0|            0.0|        8.0|          0.0|          3.0|     1.0|(8,[0],[1.0])| (15,[8],[1.0])|  (6,[0],[1.0])| (14,[8],[1.0])|(5,[0],[1.0])|(4,[3],[1.0])| (41,[1],[1.0])|  0.0|
| 25|Self-emp-not-inc|176756|     HS-grad|              9|       Never-married|  Farming-fishing|    Own-child|             White|  Male|           0|           0|            35|United-States| <=50K|       1.0|       0.0|            1.0|       10.0|          2.0|          0.0|     0.0|(8,[1],[1.0])| (15,[0],[1.0])|  (6,[1],[1.0])|(14,[10],[1.0])|(5,[2],[1.0])|(4,[0],[1.0])| (41,[0],[1.0])|  0.0|
| 32|         Private|186824|     HS-grad|              9|       Never-married|Machine-op-inspct|    Unmarried|             White|  Male|           0|           0|            40|United-States| <=50K|       0.0|       0.0|            1.0|        6.0|          3.0|          0.0|     0.0|(8,[0],[1.0])| (15,[0],[1.0])|  (6,[1],[1.0])| (14,[6],[1.0])|(5,[3],[1.0])|(4,[0],[1.0])| (41,[0],[1.0])|  0.0|
| 38|         Private| 28887|        11th|              7|  Married-civ-spouse|            Sales|      Husband|             White|  Male|           0|           0|            50|United-States| <=50K|       0.0|       5.0|            0.0|        4.0|          0.0|          0.0|     0.0|(8,[0],[1.0])| (15,[5],[1.0])|  (6,[0],[1.0])| (14,[4],[1.0])|(5,[0],[1.0])|(4,[0],[1.0])| (41,[0],[1.0])|  0.0|
| 43|Self-emp-not-inc|292175|     Masters|             14|            Divorced|  Exec-managerial|    Unmarried|             White|Female|           0|           0|            45|United-States|  >50K|       1.0|       3.0|            2.0|        2.0|          3.0|          0.0|     0.0|(8,[1],[1.0])| (15,[3],[1.0])|  (6,[2],[1.0])| (14,[2],[1.0])|(5,[3],[1.0])|(4,[0],[1.0])| (41,[0],[1.0])|  1.0|
+---+----------------+------+------------+---------------+--------------------+-----------------+-------------+------------------+------+------------+------------+--------------+-------------+------+----------+----------+---------------+-----------+-------------+-------------+--------+-------------+---------------+---------------+---------------+-------------+-------------+---------------+-----+
only showing top 20 rows

In [58]:
from pyspark.ml.feature import VectorAssembler

In [60]:
df.groupBy('target').count().show()

+------+-----+
|target|count|
+------+-----+
| <=50K|24720|
|  >50K| 7841|
+------+-----+

In [61]:
percentage = df.where('target = ">50K"').count()/df.count()
percentage

0.2408095574460244

In [62]:
greaterWeight = 1-percentage
greaterWeight

0.7591904425539756

In [63]:
lesserWeight = percentage

In [64]:
numericCols=['age','fnlwgt','education-years','capital-gain','capital-loss','hours-per-week']

In [65]:
vaDf=VectorAssembler(inputCols=numericCols+outCols2,outputCol='features')

In [66]:
from pyspark.ml.classification import GBTClassifier

In [81]:
va=vaDf.transform(newDf)

va.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education-years: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- ethnic-group: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- target: string (nullable = true)
 |-- workclass1: double (nullable = false)
 |-- education1: double (nullable = false)
 |-- marital-status1: double (nullable = false)
 |-- occupation1: double (nullable = false)
 |-- relationship1: double (nullable = false)
 |-- ethnic-group1: double (nullable = false)
 |-- country1: double (nullable = false)
 |-- workclass2: vector (nullable = true)
 |-- education2: vector (nullable = true)
 |-- marital-status2: vector (nullable = true)
 |-- occupation2: vector (nullable = true)
 |-- relationship2: vector (nullable = true)
 |-- ethnic-group2: vector (nullable = true)
 |-- country2: vector (nullable = true)
 |-- label: double (nullable = false)
 |-- features: vector (nullable = true)

In [78]:
weightedDF = va.withColumn('weight', when(va.label == 1, greaterWeight).otherwise(lesserWeight))

In [84]:
weightedDF.select('target','weight','label').show()

+------+------------------+-----+
|target|            weight|label|
+------+------------------+-----+
| <=50K|0.2408095574460244|  0.0|
| <=50K|0.2408095574460244|  0.0|
| <=50K|0.2408095574460244|  0.0|
| <=50K|0.2408095574460244|  0.0|
| <=50K|0.2408095574460244|  0.0|
| <=50K|0.2408095574460244|  0.0|
| <=50K|0.2408095574460244|  0.0|
|  >50K|0.7591904425539756|  1.0|
|  >50K|0.7591904425539756|  1.0|
|  >50K|0.7591904425539756|  1.0|
|  >50K|0.7591904425539756|  1.0|
|  >50K|0.7591904425539756|  1.0|
| <=50K|0.2408095574460244|  0.0|
| <=50K|0.2408095574460244|  0.0|
|  >50K|0.7591904425539756|  1.0|
| <=50K|0.2408095574460244|  0.0|
| <=50K|0.2408095574460244|  0.0|
| <=50K|0.2408095574460244|  0.0|
| <=50K|0.2408095574460244|  0.0|
|  >50K|0.7591904425539756|  1.0|
+------+------------------+-----+
only showing top 20 rows

In [85]:
gbt=GBTClassifier(featuresCol='features',labelCol='label',weightCol='weight')

In [88]:
train,test=weightedDF.randomSplit([0.7,0.3])

In [89]:
gbtModel=gbt.fit(train)

In [91]:
result = gbtModel.transform(test)

result

DataFrame[age: int, workclass: string, fnlwgt: int, education: string, education-years: int, marital-status: string, occupation: string, relationship: string, ethnic-group: string, gender: string, capital-gain: int, capital-loss: int, hours-per-week: int, country: string, target: string, workclass1: double, education1: double, marital-status1: double, occupation1: double, relationship1: double, ethnic-group1: double, country1: double, workclass2: vector, education2: vector, marital-status2: vector, occupation2: vector, relationship2: vector, ethnic-group2: vector, country2: vector, label: double, features: vector, weight: double, rawPrediction: vector, probability: vector, prediction: double]

In [92]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [93]:
evaluator = MulticlassClassificationEvaluator()

In [99]:
res=evaluator.evaluate(result)

In [100]:
res

0.8217056498209194

In [96]:
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

In [89]:
gbtModel.explainParams()

"cacheNodeIds: If false, the algorithm will pass trees to executors to match instances with nodes. If true, the algorithm will cache node IDs for each instance. Caching can speed up training of deeper trees. Users can set how often should the cache be checkpointed or disable it by setting checkpointInterval. (default: False)\ncheckpointInterval: set checkpoint interval (>= 1) or disable checkpoint (-1). E.g. 10 means that the cache will get checkpointed every 10 iterations. Note: this setting will be ignored if the checkpoint directory is not set in the SparkContext. (default: 10)\nfeatureSubsetStrategy: The number of features to consider for splits at each tree node. Supported options: 'auto' (choose automatically for task: If numTrees == 1, set to 'all'. If numTrees > 1 (forest), set to 'sqrt' for classification and to 'onethird' for regression), 'all' (use all features), 'onethird' (use 1/3 of the features), 'sqrt' (use sqrt(number of features)), 'log2' (use log2(number of features)), 'n' (when n is in the range (0, 1.0], use n * number of features. When n is in the range (1, number of features), use n features). default = 'auto' (default: all)\nfeaturesCol: features column name. (default: features, current: features)\nimpurity: Criterion used for information gain calculation (case-insensitive). Supported options: variance (default: variance)\nlabelCol: label column name. (default: label, current: label)\nleafCol: Leaf indices column name. Predicted leaf index of each instance in each tree by preorder. (default: )\nlossType: Loss function which GBT tries to minimize (case-insensitive). Supported options: logistic (default: logistic)\nmaxBins: Max number of bins for discretizing continuous features.  Must be >=2 and >= number of categories for any categorical feature. (default: 32)\nmaxDepth: Maximum depth of the tree. (>= 0) E.g., depth 0 means 1 leaf node; depth 1 means 1 internal node + 2 leaf nodes. Must be in range [0, 30]. (default: 5)\nmaxIter: max number of iterations (>= 0). (default: 20)\nmaxMemoryInMB: Maximum memory in MB allocated to histogram aggregation. If too small, then 1 node will be split per iteration, and its aggregates may exceed this size. (default: 256)\nminInfoGain: Minimum information gain for a split to be considered at a tree node. (default: 0.0)\nminInstancesPerNode: Minimum number of instances each child must have after split. If a split causes the left or right child to have fewer than minInstancesPerNode, the split will be discarded as invalid. Should be >= 1. (default: 1)\nminWeightFractionPerNode: Minimum fraction of the weighted sample count that each child must have after split. If a split causes the fraction of the total weight in the left or right child to be less than minWeightFractionPerNode, the split will be discarded as invalid. Should be in interval [0.0, 0.5). (default: 0.0)\npredictionCol: prediction column name. (default: prediction)\nprobabilityCol: Column name for predicted class conditional probabilities. Note: Not all models output well-calibrated probability estimates! These probabilities should be treated as confidences, not precise probabilities. (default: probability)\nrawPredictionCol: raw prediction (a.k.a. confidence) column name. (default: rawPrediction)\nseed: random seed. (default: -8515944957632454973)\nstepSize: Step size (a.k.a. learning rate) in interval (0, 1] for shrinking the contribution of each estimator. (default: 0.1)\nsubsamplingRate: Fraction of the training data used for learning each decision tree, in range (0, 1]. (default: 1.0)\nthresholds: Thresholds in multi-class classification to adjust the probability of predicting each class. Array must have length equal to the number of classes, with values > 0, excepting that at most one value may be 0. The class with largest value p/t is predicted, where p is the original probability of that class and t is the class's threshold. (undefined)\nvalidationIndicatorCol: name of the column that indicates whether each row is for training or for validation. False indicates training; true indicates validation. (undefined)\nvalidationTol: Threshold for stopping early when fit with validation is used. If the error rate on the validation input changes by less than the validationTol, then learning will stop early (before `maxIter`). This parameter is ignored when fit without validation is used. (default: 0.01)\nweightCol: weight column name. If this is not set or empty, we treat all instance weights as 1.0. (current: weight)"

In [97]:
params = ParamGridBuilder().addGrid(gbt.maxIter,[15,30]).addGrid(gbt.maxDepth,[8,12]).addGrid(gbt.stepSize,[0.05,0.08]).build()

In [98]:
cv= CrossValidator(estimator=gbt, estimatorParamMaps=params, evaluator=evaluator, numFolds=2, parallelism=2)

In [93]:
cvModel = cv.fit(train)

In [94]:
res = cvModel.transform(test)

In [95]:
resultDF = evaluator.evaluate(res)

In [96]:
resultDF

0.8195998931439484

In [97]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [120]:
pipeline = Pipeline(stages=[si,ohi,si2,vaDf,cv])

In [121]:
model = pipeline.fit(train)

KeyboardInterrupt: ignored

In [122]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- education-years: integer (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- ethnic-group: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- capital-gain: integer (nullable = true)
 |-- capital-loss: integer (nullable = true)
 |-- hours-per-week: integer (nullable = true)
 |-- country: string (nullable = true)
 |-- target: string (nullable = true)

In [124]:
cols=[c+str(i) for i,c in enumerate(df.columns)]

In [125]:
cols

['age0',
 'workclass1',
 'fnlwgt2',
 'education3',
 'education-years4',
 'marital-status5',
 'occupation6',
 'relationship7',
 'ethnic-group8',
 'gender9',
 'capital-gain10',
 'capital-loss11',
 'hours-per-week12',
 'country13',
 'target14']

In [134]:
df2=spark.read.csv("adult.data",header=False,inferSchema=True,ignoreLeadingWhiteSpace=True,ignoreTrailingWhiteSpace=True)

In [130]:
df=spark.createDataFrame(df2.rdd,cols)

In [132]:
df.show()

+----+----------------+-------+------------+----------------+--------------------+-----------------+-------------+------------------+-------+--------------+--------------+----------------+-------------+--------+
|age0|      workclass1|fnlwgt2|  education3|education-years4|     marital-status5|      occupation6|relationship7|     ethnic-group8|gender9|capital-gain10|capital-loss11|hours-per-week12|    country13|target14|
+----+----------------+-------+------------+----------------+--------------------+-----------------+-------------+------------------+-------+--------------+--------------+----------------+-------------+--------+
| age|       workclass| fnlwgt|   education| education-years|      marital-status|       occupation| relationship|      ethnic-group| gender|  capital-gain|  capital-loss|  hours-per-week|      country|  target|
|  39|       State-gov|  77516|   Bachelors|              13|       Never-married|     Adm-clerical|Not-in-family|             White|   Male|          2174|             0|              40|United-States|   <=50K|
|  50|Self-emp-not-inc|  83311|   Bachelors|              13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|   Male|             0|             0|              13|United-States|   <=50K|
|  38|         Private| 215646|     HS-grad|               9|            Divorced|Handlers-cleaners|Not-in-family|             White|   Male|             0|             0|              40|United-States|   <=50K|
|  53|         Private| 234721|        11th|               7|  Married-civ-spouse|Handlers-cleaners|      Husband|             Black|   Male|             0|             0|              40|United-States|   <=50K|
|  28|         Private| 338409|   Bachelors|              13|  Married-civ-spouse|   Prof-specialty|         Wife|             Black| Female|             0|             0|              40|         Cuba|   <=50K|
|  37|         Private| 284582|     Masters|              14|  Married-civ-spouse|  Exec-managerial|         Wife|             White| Female|             0|             0|              40|United-States|   <=50K|
|  49|         Private| 160187|         9th|               5|Married-spouse-ab...|    Other-service|Not-in-family|             Black| Female|             0|             0|              16|      Jamaica|   <=50K|
|  52|Self-emp-not-inc| 209642|     HS-grad|               9|  Married-civ-spouse|  Exec-managerial|      Husband|             White|   Male|             0|             0|              45|United-States|    >50K|
|  31|         Private|  45781|     Masters|              14|       Never-married|   Prof-specialty|Not-in-family|             White| Female|         14084|             0|              50|United-States|    >50K|
|  42|         Private| 159449|   Bachelors|              13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|   Male|          5178|             0|              40|United-States|    >50K|
|  37|         Private| 280464|Some-college|              10|  Married-civ-spouse|  Exec-managerial|      Husband|             Black|   Male|             0|             0|              80|United-States|    >50K|
|  30|       State-gov| 141297|   Bachelors|              13|  Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|   Male|             0|             0|              40|        India|    >50K|
|  23|         Private| 122272|   Bachelors|              13|       Never-married|     Adm-clerical|    Own-child|             White| Female|             0|             0|              30|United-States|   <=50K|
|  32|         Private| 205019|  Assoc-acdm|              12|       Never-married|            Sales|Not-in-family|             Black|   Male|             0|             0|              50|United-States|   <=50K|
|  40|         Private| 121772|   Assoc-voc|              11|  Married-civ-spouse|     Craft-repair|      Husband|Asian-Pac-Islander|   Male|             0|             0|              40|            ?|    >50K|
|  34|         Private| 245487|     7th-8th|               4|  Married-civ-spouse| Transport-moving|      Husband|Amer-Indian-Eskimo|   Male|             0|             0|              45|       Mexico|   <=50K|
|  25|Self-emp-not-inc| 176756|     HS-grad|               9|       Never-married|  Farming-fishing|    Own-child|             White|   Male|             0|             0|              35|United-States|   <=50K|
|  32|         Private| 186824|     HS-grad|               9|       Never-married|Machine-op-inspct|    Unmarried|             White|   Male|             0|             0|              40|United-States|   <=50K|
|  38|         Private|  28887|        11th|               7|  Married-civ-spouse|            Sales|      Husband|             White|   Male|             0|             0|              50|United-States|   <=50K|
+----+----------------+-------+------------+----------------+--------------------+-----------------+-------------+------------------+-------+--------------+--------------+----------------+-------------+--------+
only showing top 20 rows

In [135]:
df4=df.toDF(*cols)

In [136]:
df4.show()

+----+----------------+-------+------------+----------------+--------------------+-----------------+-------------+------------------+-------+--------------+--------------+----------------+-------------+--------+
|age0|      workclass1|fnlwgt2|  education3|education-years4|     marital-status5|      occupation6|relationship7|     ethnic-group8|gender9|capital-gain10|capital-loss11|hours-per-week12|    country13|target14|
+----+----------------+-------+------------+----------------+--------------------+-----------------+-------------+------------------+-------+--------------+--------------+----------------+-------------+--------+
| age|       workclass| fnlwgt|   education| education-years|      marital-status|       occupation| relationship|      ethnic-group| gender|  capital-gain|  capital-loss|  hours-per-week|      country|  target|
|  39|       State-gov|  77516|   Bachelors|              13|       Never-married|     Adm-clerical|Not-in-family|             White|   Male|          2174|             0|              40|United-States|   <=50K|
|  50|Self-emp-not-inc|  83311|   Bachelors|              13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|   Male|             0|             0|              13|United-States|   <=50K|
|  38|         Private| 215646|     HS-grad|               9|            Divorced|Handlers-cleaners|Not-in-family|             White|   Male|             0|             0|              40|United-States|   <=50K|
|  53|         Private| 234721|        11th|               7|  Married-civ-spouse|Handlers-cleaners|      Husband|             Black|   Male|             0|             0|              40|United-States|   <=50K|
|  28|         Private| 338409|   Bachelors|              13|  Married-civ-spouse|   Prof-specialty|         Wife|             Black| Female|             0|             0|              40|         Cuba|   <=50K|
|  37|         Private| 284582|     Masters|              14|  Married-civ-spouse|  Exec-managerial|         Wife|             White| Female|             0|             0|              40|United-States|   <=50K|
|  49|         Private| 160187|         9th|               5|Married-spouse-ab...|    Other-service|Not-in-family|             Black| Female|             0|             0|              16|      Jamaica|   <=50K|
|  52|Self-emp-not-inc| 209642|     HS-grad|               9|  Married-civ-spouse|  Exec-managerial|      Husband|             White|   Male|             0|             0|              45|United-States|    >50K|
|  31|         Private|  45781|     Masters|              14|       Never-married|   Prof-specialty|Not-in-family|             White| Female|         14084|             0|              50|United-States|    >50K|
|  42|         Private| 159449|   Bachelors|              13|  Married-civ-spouse|  Exec-managerial|      Husband|             White|   Male|          5178|             0|              40|United-States|    >50K|
|  37|         Private| 280464|Some-college|              10|  Married-civ-spouse|  Exec-managerial|      Husband|             Black|   Male|             0|             0|              80|United-States|    >50K|
|  30|       State-gov| 141297|   Bachelors|              13|  Married-civ-spouse|   Prof-specialty|      Husband|Asian-Pac-Islander|   Male|             0|             0|              40|        India|    >50K|
|  23|         Private| 122272|   Bachelors|              13|       Never-married|     Adm-clerical|    Own-child|             White| Female|             0|             0|              30|United-States|   <=50K|
|  32|         Private| 205019|  Assoc-acdm|              12|       Never-married|            Sales|Not-in-family|             Black|   Male|             0|             0|              50|United-States|   <=50K|
|  40|         Private| 121772|   Assoc-voc|              11|  Married-civ-spouse|     Craft-repair|      Husband|Asian-Pac-Islander|   Male|             0|             0|              40|            ?|    >50K|
|  34|         Private| 245487|     7th-8th|               4|  Married-civ-spouse| Transport-moving|      Husband|Amer-Indian-Eskimo|   Male|             0|             0|              45|       Mexico|   <=50K|
|  25|Self-emp-not-inc| 176756|     HS-grad|               9|       Never-married|  Farming-fishing|    Own-child|             White|   Male|             0|             0|              35|United-States|   <=50K|
|  32|         Private| 186824|     HS-grad|               9|       Never-married|Machine-op-inspct|    Unmarried|             White|   Male|             0|             0|              40|United-States|   <=50K|
|  38|         Private|  28887|        11th|               7|  Married-civ-spouse|            Sales|      Husband|             White|   Male|             0|             0|              50|United-States|   <=50K|
+----+----------------+-------+------------+----------------+--------------------+-----------------+-------------+------------------+-------+--------------+--------------+----------------+-------------+--------+
only showing top 20 rows